#ocean {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e8ee3+0,46b8dd+37,1e8ee3+68,47b8dd+100 */
	background: #1e8ee3; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1e8ee3 0%, #46b8dd 37%, #1e8ee3 68%, #47b8dd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1e8ee3 0%,#46b8dd 37%,#1e8ee3 68%,#47b8dd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1e8ee3 0%,#46b8dd 37%,#1e8ee3 68%,#47b8dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e8ee3', endColorstr='#47b8dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 30000px;
	width: 100%;
	color: #fff;
}

/* General */
.text-center {
	text-align: center;
}

/* Images */
.img-responsive {
	width: 100%;
}

/* Typography */
.superstrong {
	font-weight: 900;
}

/* Animation */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float {
	animation: float 7s ease-in-out infinite;
}